extends ../layout

block content
  h1 #{title}
  
  form(method='POST' action='')
    div.form-group
      label(for='firstName') First Name:
      input#firstName.form-control(type='text', placeholder='First Name (Given)' name='firstName' value=(author === undefined ? '' : author.firstName))
      label(for='lastName') Last Name:
      input#lastName.form-control(type='text', placeholder='Last Name (Family)' name='lastName' value=(author === undefined ? '' : author.lastName))
    div.form-group
      label(for='dateOfBirth') Date of Birth:
      input#dateOfBirth.form-control(type='date', name='dateOfBirth' value=(author === undefined ? '' : author.dateOfBirthInput))
      label(for='dateOfBirth') Date of Death:
      input#dateOfDeath.form-control(type='date', name='dateOfDeath' value=(author === undefined ? '' : author.dateOfDeathInput))
    button.btn.btn-primary(type='submit') Save
